<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clearcast</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/current.css" />
    <link rel="stylesheet" href="/static/css/radar.css" />
    <link rel="stylesheet" href="/static/css/hourly.css" />
    <link rel="stylesheet" href="/static/css/daily.css" />
    <link rel="stylesheet" href="/static/css/alerts.css" />
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
  </head>
  <body>
    <main>
      <section class="top-row">
        <div class="top-left">
          <header>
            <div class="title-row">
              <h1>Clearcast</h1>
              <span class="alerts-badge" th:if="${alertsCount > 0}">&#xF0D59;</span>
            </div>
            <p th:text="'Last updated: ' + ${currentUpdatedAt}">Last updated:</p>
          </header>
          <div th:replace="~{fragments/current :: currentCard(${current})}"></div>
        </div>
        <div class="top-right">
          <div th:replace="~{fragments/radar :: radarCard(${radarFrames})}"></div>
        </div>
      </section>
      <section class="card" th:replace="~{fragments/hourly :: hourlyCard(${hourly})}"></section>
      <section class="card" th:replace="~{fragments/daily :: dailyCard(${daily})}"></section>
      <section class="card" th:replace="~{fragments/alerts :: alertsCard(${alerts})}"></section>
    </main>

    <script id="hourly-data" type="application/json" th:inline="javascript">
      {"times": [[${hourlyTimes}]], "temps": [[${hourlyTemps}]], "precip": [[${hourlyPrecip}]], "yMin": [[${hourlyYMin}]], "yMax": [[${hourlyYMax}]]}
    </script>
    <script id="radar-data" type="application/json" th:inline="javascript">
      {"frames": [[${radarFrames}]]}
    </script>
    <script src="/static/js/hourly.js" defer></script>
    <script src="/static/js/radar.js" defer></script>
  </body>
</html>
